<div class="hero is-bold section has-background-light p-0">
  <section class="main-content section columns is-variable is-1-mobile is-1-tablet is-2-desktop is-2-widescreen is-2-fullhd p-5">
    <aside class="column is-5-tablet is-5-desktop is-4-widescreen is-3-fullhd px-2">
      <div class="section p-0">
        {% include "tutor/profile.html" %}
      </div>
    </aside>

    <div class="container column is-auto px-2">
      <section class="hero is-link is-bold section pt-3 px-3">
        <div class="section pt-5" style="position: relative;">
          <div id="edit-horarios">
            <div class="hrtext">
              <h3 class="title is-5">Modificá tu Disponibilidad Horaria</h3>
              <div class="header-fade-out-hr"></div>
            </div>

            <div id="non-mobile-modify-button">
              <div class="field mt-2 mx-2 p-1" style="position: absolute; top: 0px;right: 0px;">
                <a href="#">
                  <button id="save-button" class="button is-success is-pulled-right is-small">Guardar</button>
                </a>
              </div>
              <div class="field mt-2 mx-2 p-1" style="position: absolute; top: 0px; right: 90px;">
                <a href="{{ url_for('tutor.home')+'?tab=horarios' }}">
                  <button id="back-button" class="button is-success is-pulled-right is-small">Volver</button>
                </a>
              </div>
            </div>
            <div id="mobile-modify-button">
              <a style="display: inline-block;">
                <button id="save-button-mobile" class="button is-success is-pulled-right is-small" style="display: inline-block;">Guardar</button>
              </a>

              <a href="{{ url_for('tutor.home')+'?tab=horarios' }}" style="display: inline-block;">
                <button id="back-button-mobile" class="button is-success is-pulled-right is-small" style="display: inline-block;">Volver</button>
              </a>
            </div>


            <section class="section p-3">
              <div class="container">
                <div class="columns is-variable">
                  <div class="column is-two-thirds">
                    <div id="schedule-table-title-wrapper">
                      <h1 id="schedule-table-title" class="subtitle has-text-centered m-3">This is a title</h1>
                      <hr class="fade-out-hr" style="margin: 10px;">
                    </div>
                    <div style="width: 90%; margin: auto;">
                      <button class="add-type-button" data-classtype="v"> Virtual </button>
                      <button class="add-type-button" data-classtype="p"> Presencial </button>
                      <button class="add-type-button" data-classtype="a"> Ambas </button>
                      <button class="add-type-button" data-classtype=" "> Borrar </button>
                    </div>
                    <div class="has-text-centered mb-3"><i><a id="feedback" class="feedback"></a></i></div>
                    <table id="schedule-table" class="content-table schedule-data edit">
                      <thead>
                        <tr>
                          <th class="is-hidden">Tutor id</th>
                          <th class="is-hidden">Semana</th>
                          <th class="is-hidden">Indice Semana</th>
                          <th>Horario</th>
                          <th class="is-hidden">Indice Tiempo</th>
                          <th>Lu</th>
                          <th>Ma</th>
                          <th>Mi</th>
                          <th>Ju</th>
                          <th>Vi</th>
                          <th>Sá</th>
                          <th>Do</th>
                          <th class="is-hidden">Indice Año</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for slot in tutor.get_weeks_schedule(default_params["number_weeks"]).to_dict(orient="records") %}
                          <tr>
                            <td class="is-hidden">{{tutor.id}}</td>
                            <td class="is-hidden">{{slot["monday_week_date"]}}</td>
                            <td class="is-hidden">{{slot["week_index"]}}</td>
                            <td>{{slot["time_slot"]}}</td>
                            <td class="is-hidden">{{slot["time_index"]}}</td>
                            {% for i in range(7) %}
                              <td class="enrolled-{{slot['enrolled_days'][i]}} {{slot['availability_days'][i]}}">{{slot['availability_days'][i]}}</td>
                            {% endfor %}
                            <td class="is-hidden">{{slot["year_index"]}}</td>
                          </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                    <ul class="pagination-list" style="justify-content: center; margin-top: 3px;">
                      <li id="schedule-table-previous">
                        <a aria-controls="schedule-table" role="link" class="pagination-link previous" style="font-size: 10px; padding: 8px;">
                          &lt;
                        </a>
                      </li>
                      <li id="schedule-table-next">
                        <a aria-controls="schedule-table" role="link" class="pagination-link next" style="font-size: 10px; padding: 8px;">
                          &gt;
                        </a>
                      </li>
                    </ul>
                  </div>
                  <div class="column is-auto">
                    <div class="container transparent-box m-2">
                      <h1 class="subtitle has-text-centered m-3" style="font-weight: bold;">Agregar Horarios</h1>
                      <hr class="fade-out-hr" style="margin: 10px;">
                      <p class="has-text-centered">Para agregar uno o varios horarios, seleccionalos y presioná la tecla <strong>V</strong> para virtual, <strong>P</strong> para presencial o <strong>A</strong> para ambas, segun corresponda.</p>
                      <br>
                      <h1 class="subtitle has-text-centered m-3" style="font-weight: bold;">Sacar Horarios</h1>
                      <hr class="fade-out-hr" style="margin: 10px;">
                      <p class="has-text-centered">Para Sacar un horario seleccioná un horario agregado de la tabla semanal y luego presioná: <strong>barra espaciadora</strong>, <strong>delete</strong> o <strong>borrar</strong>.</p>
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>
      </section>
    </div>
  </section>
</div>