{% if default_params["active_tab"] == "materias" %}
  <div id="{{default_params['active_tab']}}" style="position: relative;">
{% else %}
  <div id="materias" class="is-hidden" style="position: relative;">
{% endif %}
  <div class="hrtext">
    <h3 class="title is-5">Materias Disponibles con sus Precios</h3>
    <div class="header-fade-out-hr"></div>
  </div>
  <div id="non-mobile-modify-button" class="field" style="position: absolute; top: 0; right: 0;">
    <a href="{{ url_for('tutor.edit_classes') }}" class="button is-success is-pulled-right is-small">Modificá</a>
  </div>
  <div id="mobile-modify-button">
    <a href="{{ url_for('tutor.edit_classes') }}" class="button is-success is-small">Modificá</a>
  </div>
  <div class="container" style="position: relative;">
    <div class="content mt-4">
      <table  id="subjects-data-table" class="content-table tutor-subjects-data">
        <thead>
          <tr>
            <th class="is-hidden">Codigo Facultad</th>
            <th class="is-hidden">Código</th>
            <th>Materia</th>
            <th>Unidad Académica</th>
            <th>Precio de Referencia</th>
            <th>Precios</th>
            <th>Comentario</th>
          </tr>
        </thead>
        <tbody>
          {% for s in tutor.tutor_subject %}
            <tr  data-subject={{s.subject_id}} data-tutor={{tutor.id}}>
              <td class="is-hidden">{{s.subject.faculty.faculty_id}}</td>
              <td class="is-hidden">{{s.subject.subject_id}}</td>
              <td>{{s.subject.subject_name}}</td>
              <td>{{s.subject.faculty.faculty_name}}</td>
              <td>{{'${:,.0f}'.format(s.price_ref).replace(",", ";").replace(".", ",").replace(";", ".")}}</td>
              <td class="tutor-prices-link"><a class="button is-success is-small">Ver Precios</a></td>
              <td>{{s.comment if s.comment else ""}}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>