<div class="profile-card-container">
  {% if not current_user.is_tutor %}
    <div class="profile-card-primary-image">
  {% else %}
    <div class="profile-card-link-image">
  {% endif %}
    <img class="profile-card-img" src="{{tutor.user.avatar(256)}}" alt="this image contains user-image">
    {% if tutor.user.updated_at %}<p style="color: white; font-size: 9px;">Última actividad: <br>{{ tutor.user.updated_at.strftime("%d/%m/%y a las %H:%M hrs.") }}</p>{% endif %}
  </div>
  <div class="profile-card-content">
    <a href="{{ url_for('public.tutor_view', tutor_id=tutor.id) }}">
      <ul style="list-style: none;">
        <li class="user-avatar is-small" style="display: inline-block;">{{ tutor.user.username[0].upper() }}</li>
        <li class="user-username is-small" style="display: inline-block;">{{ tutor.user.username }}</li>
      </ul>
    </a>
    <span><span class="stars">{{ tutor.mean_score() }}</span><p> {{ '{:.2f}'.format(tutor.mean_score()) }} <span style="font-size: 12px">({{ tutor.count_scores() }} opiniones)</span></p></span>
    <div class="profile-card-details">
      <table style="width: 100%";>
        <tbody style="width: 100%;">
          <tr><td style="text-align: left;">Disponibilidad:</td><td style="text-align: right;"><strong>{{tutor.availability()}}</strong></td></tr>
          <tr><td style="text-align: left;">Clases Dadas:</td><td style="text-align: right;"><strong>{{tutor.count_enrollments()}}</strong></td></tr>
        </tbody>
      </table>
    </div>
    <hr>
    <div class="profile-card-social-links">
      <a class="facebook" href="#" target="_blank" title="facebook">
        <i class="fab fa-facebook"></i>
      </a>
      <a class="linkedin" href="#" title="linkedin" target="_blank">
        <i class="fab fa-linkedin"></i>
      </a>
      <a class="insta" href="#" target="_blank" title="instagram">
        <i class="fab fa-instagram-square"></i>
      </a>
    </div>
  </div>
</div>