{% if default_params["active_tab"] == "perfil" %}
  <div id="{{default_params['active_tab']}}">
{% else %}
  <div id="perfil" class="is-hidden">
{% endif %}
  <div class="hrtext">
    <h3 class="title is-5">Información General</h3>
    <div class="header-fade-out-hr"></div>
  </div>


  <div class="container">
    <div class="columns is-multiline">

      <div class="column is-auto">
        <div id="user-info-box" class="transparent-box" style="width: 400px; margin: auto;">

          <div class="signup-area has-text-centered">
            <h1 class="subtitle is-6 has-text-centered">Modificá o validá tu información general</h1>

            <div class="field">
              <p class="control has-icons-left">
                <input id="signup-username" class="input is-info" type="text" placeholder="Usuario">
                <span class="icon is-small is-left">
                  <i class="fas fa-user"></i>
                </span>
              </p>
            </div>

            <div class="field">
              <p class="control has-icons-left">
                <input id="signup-name" class="input is-info" type="text" placeholder="Nombre">
                <span class="icon is-small is-left">
                  <i class="fas fa-user-edit"></i>
                </span>
              </p>
            </div>

            <div class="field">
              <p class="control has-icons-left">
                <input id="signup-last-name" class="input is-info" type="text" placeholder="Apellido">
                <span class="icon is-small is-left">
                  <i class="fas fa-user-shield"></i>
                </span>
              </p>
            </div>

            <div class="field">
              <p class="control has-icons-left">
                <input id="signup-mail" class="input is-info" type="text" placeholder="Email">
                <span class="icon is-small is-left">
                  <i class="fa fa-envelope"></i>
                </span>
              </p>
            </div>

            <div class="field">
              <p class="control">
                <span>
                  <span>
                    <i class="fa fa-phone pt-3 pr-3"></i>
                  </span>
                  <select name="country-code" class="input is-info" style="width: 60px;"></select>
<!--                  <input name="phone" class="input is-info" type="text" placeholder="+54" style="width: 50px;">-->
                  <input title="Sin el 0 y sin el 15" name="phone" class="input is-info" type="text" placeholder="Area" style="width: 70px;">
                  <input name="phone" class="input is-info" type="text" placeholder="Telefono" style="width: 140px">
                </span>
              </p>
            </div>

<!--            <textarea id="profile-description" class="textarea is-info" placeholder="Poné acá tu descripción"></textarea>-->

<!--            <br>-->

            <a id="validate-info-button" class="form-button button is-primary">Validar</a>
            <br>
            <i><a id="feedback" class="feedback"></a></i>
          </div>
        </div>
      </div>

      <div class="column is-auto">
        <div class="transparent-box" style="width: 400px; margin: auto;">
          <div class="has-text-centered" style="padding: 30px">
            <h1 class="subtitle is-6 has-text-centered">Foto de perfil</h1>
            <div class="wrapper">
              <input class="my_file" type="file">
              <span class="icon" style="position: absolute; bottom: 0; left: 111px; z-index: 2; cursor: pointer; font-size: 30px;">
                <i class="fa fa-camera" aria-hidden="true"></i>
              </span>
              <figure class="image is-254x254">
                <img src="{{ url_for('static', filename='media/default-avatar-icon-of-social-media-user-vector.jpeg') }}">
              </figure>
            </div>
          </div>
        </div>
      </div>

      <div class="column is-auto">
        <div class="transparent-box" style="width: 400px; margin: auto;">
          <div class="has-text-centered" style="padding: 30px">
            <h1 class="subtitle is-6 has-text-centered">Cambiá tu Usuario o Contraseña</h1>
            <div class="button is-centered is-primary">
              Modificar
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>