{% if default_params["active_tab"] == "clases" %}
  <div id="{{default_params['active_tab']}}">
{% else %}
  <div id="clases" class="is-hidden">
{% endif %}
  <div class="hrtext">
    <h3 class="title is-5">Tus Clases</h3>
    <div class="header-fade-out-hr"></div>
    <i class="has-text-centered"><a id="panel-feedback" class="feedback"></a></i>
  </div>
  <nav id="student-class-panel" class="panel is-primary" style="background-color: white; color: black;">
    <div class="panel-block">
      <p class="control has-icons-left">
        <input class="input" type="text" placeholder="Search">
        <span class="icon is-left">
          <i class="fas fa-search" aria-hidden="true"></i>
        </span>
      </p>
    </div>
    <p class="panel-tabs student-class-panel-tabs">
      <a class="is-active" data-status="-1">Todas</a>
      <a data-status="0">Terminadas</a>
      <a data-status="1">Confirmadas</a>
      <a data-status="3">Canceladas</a>
    </p>
    <div class="panel-block student-class-panel-header">
      <div class="container student-class-panel-cell"><p class="has-text-centered"><small><strong>Materia</strong></small></p></div>
      <div class="container student-class-panel-cell"><p class="has-text-centered"><small><strong>Profesor</strong></small></p></div>
      <div class="container student-class-panel-cell"><p class="has-text-centered"><small><strong>Fecha y Horario</strong></small></p></div>
      <div class="container student-class-panel-cell"><p class="has-text-centered"><small><strong>Estado</strong></small></p></div>
      <div class="container student-class-panel-cell"><p class="has-text-centered"><small><strong>Info +</strong></small></p></div>
    </div>
  </nav>
  <table id="responsive-table" class="panel-table">
    <thead>
      <tr>
        <th class="is-hidden">materia</th>
        <th class="is-hidden">profesor</th>
        <th class="is-hidden">fecha y hora</th>
        <th class="is-hidden">estado</th>
        <th class="is-hidden">mas info</th>
      </tr>
    </thead>
    <tbody>
    {% for class in classes %}
    <tr data-classid="{{ class.id }}" data-subjectid="{{ class.subject.subject_id }}" data-tutorid="{{ class.tutor_id }}" data-studentid="{{class.student_id }}" data-status="{{ class.status }}" data-classtype="{{ class.class_type }}" data-slots="{{ class.class_length() }}">
      <td class="subject-name-cell"><i class="fas fa-book mr-2" aria-hidden="true"></i>{{ class.subject.subject_name }}</td>
      <td class="tutor-cell">
        <i class="fas fa-user-edit mr-2" aria-hidden="true"></i>{{ class.tutor.user.username }}
      </td>
      <td class="date-time-cell">
        <p>{{ class.date() }}</p>
        <p>{{ class.interval() }}</p>
      </td>
      <td class="status-cell" data-status="{{ class.status }}">
      {% if class.status == 0 %}
            <i class="far fa-calendar-check mr-2" aria-hidden="true"></i>Terminada

      {% elif class.status == 1 %}
            <i class="far fa-calendar mr-2" aria-hidden="true"></i>Confirmada
      {% elif class.status == 2 %}
            <i class="far fa-calendar-plus mr-2" aria-hidden="true"></i>Reservada Temporalmente
      {% else %}
            <i class="far fa-calendar-times mr-2" aria-hidden="true"></i>Cancelada
      {% endif %}
      </td>
      {% if class.score %}
        <td class="more-info-cell score">{{ class.score }}</td>
      {% else %}
        <td class="more-info-cell"><a class="button is-primary is-small">{{ class.student_info() }}</a></td>
      {% endif %}
    </tr>
    {% endfor %}
    </tbody>
  </table>
</div>