{% extends "base.html" %}

{% block title %}
  Inicio - Estudiante - Entienda y Aprenda
{% endblock %}

{% block links %}
    <link rel="stylesheet" href="https://unpkg.com/bulma-modal-fx/dist/css/modal-fx.min.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cards.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/panels.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tables.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/ratings.css') }}">
{% endblock %}

{% block body %}
  {% include "navbar.html" %}
  {% include "student/home_body.html" %}
  {% include "student/modify_password_modal.html" %}
  {% include "student/score_class_modal.html" %}
  {% include "student/re_schedule_class_modal.html" %}
  {% include "footer.html" %}
{% endblock %}

{% block scripts %}
    <script type="application/javascript" src="{{ url_for('static', filename='js/utils/strings.js') }}"></script>
    <script type="application/javascript" src="{{ url_for('static', filename='js/utils/profile.js') }}"></script>
    <script type="application/javascript" src="{{ url_for('static', filename='js/utils/utils.js') }}"></script>
    <script type="application/javascript" src="{{ url_for('static', filename='js/utils/rating_utils.js') }}"></script>
    <script type="application/javascript" src="{{ url_for('static', filename='js/utils/schedule.js') }}"></script>
    <script type="application/javascript" src="{{ url_for('static', filename='js/utils/logger.js') }}"></script>
    <script type="application/javascript" src="{{ url_for('static', filename='js/utils/request.js') }}"></script>
    <script type="application/javascript" src="{{ url_for('static', filename='js/utils/modal.js') }}"></script>
    <script type="application/javascript" src="{{ url_for('static', filename='js/utils/profile.js') }}"></script>
    <script type="application/javascript" src="{{ url_for('static', filename='js/utils/tabs.js') }}"></script>
    <script type="application/javascript" src="{{ url_for('static', filename='js/views/student_home.js') }}"></script>
{% endblock %}