<div class="hero is-bold section has-background-light p-0">
  <section class="main-content section columns is-variable is-1-mobile is-1-tablet is-2-desktop is-2-widescreen is-2-fullhd p-5">
    <aside class="column is-5-tablet is-5-desktop is-4-widescreen is-3-fullhd px-2">
      <div class="section p-0">
        {% set student = current_user %}
        {% include "student/profile.html" %}
      </div>
    </aside>

    <div class="container column is-auto px-2">
      <div class="tabs is-boxed mb-0">
        <ul>
          {% if default_params["active_tab"] == "perfil" %}
            <li class="is-active" data-target="perfil">
          {% else %}
            <li data-target="perfil">
          {% endif %}
            <a>
              <span class="icon is-small"><i class="fas fa-user-circle"></i></span>
              <span>Perfil</span>
            </a>
          </li>
          {% if default_params["active_tab"] == "clases" %}
            <li class="is-active" data-target="clases">
          {% else %}
            <li data-target="clases">
          {% endif %}
            <a>
              <span class="icon is-small"><i class="fas fa-book"></i></span>
              <span>Clases</span>
            </a>
          </li>
        </ul>
      </div>
      <section class="hero is-info is-bold section pt-3 px-3">

        <!-- Contenido de las Pestañas -->
        <div class="px-3 pt-6" id="tab-settings-content">
          {% include "student/profile_tab.html" %}
          {% include "student/classes_tab.html" %}
        </div>
      </section>
    </div>
  </section>
</div>