<!--MODAL FOR PASSWORD MODIFICATION-->
<div id="modify-password-modal" class="modal modal-fx-fadeInScale">
  <div class="modal-background"></div>

  <div class="modal-content is-huge" style="max-width: 450px;">
    <div class="box hero is-info is-bold section pt-6 px-3" style="border: 2px solid rgba(53,50,54,0.71)">
      <h1 class="title has-text-centered mb-1">Modificá tu Contraseña</h1>
      <hr class="fade-out-hr mt-1">
      <div id="modify-password-box" class="transparent-box has-text-centered px-5">
        <form action="" method="post" novalidate>
          {{ pass_form.csrf_token() }}
          <div class="control mb-5 pt-3">
            <p class="control has-icons-left has-icons-right">
              {{ pass_form.old_password(id="old-pass", class="input is-info", size=64, placeholder="Contraseña Anterior") }}
              <span class="icon is-small is-left">
                <i class="fa fa-lock"></i>
              </span>
              <span class="icon is-small is-right">
                <i class="fa fa-check mr-2"></i>
              </span>
            </p>
          </div>
          <div class="control mb-5">
            <p class="control has-icons-left has-icons-right">
              {{ pass_form.new_password(id="new-pass", class="input is-info", size=64, placeholder="Contraseña Nueva") }}
              <span class="icon is-small is-left">
                <i class="fa fa-lock"></i>
              </span>
              <span class="icon is-small is-right">
                <i class="fa fa-check mr-2"></i>
              </span>
            </p>
          </div>
          <div class="p-2 m-0" style="margin: auto;">
            <a id="confirm-modify" class="button is-primary">
              <span class="icon">
                <i class="fa fa-check" aria-hidden="true"></i>
              </span>
              <span>Modificá</span>
            </a>
          </div>
        </form>
      </div>

      <i class="has-text-centered"><a id="pass-feedback" class="feedback"></a></i>
    </div>
  </div>
  <button class="modal-close is-large" aria-label="close"></button>
</div>