<div class="profile-card-container">
  <div class="profile-card-info-image" style="position: relative;">
    <img class="profile-card-img" src="{{student.user.avatar(256)}}" alt="this image contains user-image">
    <input class="my_file" type="file">
    <span class="photo-icon">
      <i class="fa fa-camera" aria-hidden="true"></i>
    </span>
<!--    {% if student.user.updated_at %}<p style="color: white; font-size: 9px;">Última actividad: <br>{{ student.user.updated_at.strftime("%d/%m/%y a las %H:%M hrs.") }}</p>{% endif %}-->
<!--    {% if student.user.updated_at %}<p class="last-update" data-last-update="{{ student.user.updated_at }}">Última actividad: <br><strong></strong></p>{% endif %}-->
    <p class="last-update" data-last-update="{{ student.user.updated_at }}">Última actividad: <br><strong></strong></p>
  </div>
  <div class="profile-card-content">
    <a href="{{ url_for('student.home') }}" style="color: inherit;">
      <ul style="list-style: none;">
        <li class="user-avatar is-small" style="display: inline-block;">{{ student.user.username[0].upper() }}</li>
        <li class="user-username is-small" style="display: inline-block;"><strong>{{ student.user.username }}</strong></li>
      </ul>
    </a>
    <div class="profile-card-details">
      <table style="width: 100%";>
        <tbody style="width: 100%;">
          <tr><td style="text-align: left;">Horas tomadas:</td><td style="text-align: right;"><strong>{{student.count_hours_string(status=0)}}</strong></td></tr>
          <tr><td style="text-align: left;">Clases por tomar:</td><td style="text-align: right;"><strong>{{student.count_enrollments(status=1)}}</strong></td></tr>
          <tr><td style="text-align: left;">Clases por reprogramar:</td><td style="text-align: right;"><strong>{{student.count_enrollments(status=3)}}</strong></td></tr>
        </tbody>
      </table>
    </div>
    <hr>
    <div class="profile-card-social-links">
<!--      <a class="facebook" href="#" target="_blank" title="facebook">-->
<!--        <i class="fab fa-facebook"></i>-->
<!--      </a>-->
<!--      <a class="linkedin" href="#" title="linkedin" target="_blank">-->
<!--        <i class="fab fa-linkedin"></i>-->
<!--      </a>-->
<!--      <a class="insta" href="#" target="_blank" title="instagram">-->
<!--        <i class="fab fa-instagram-square"></i>-->
<!--      </a>-->
    </div>
  </div>
</div>