<!--MODAL FOR CLASS SCORING-->
<div id="class-qualify-modal" class="modal modal-fx-fadeInScale">
  <div class="modal-background"></div>

  <div class="modal-content is-huge" style="max-width: 400px;">
    <div class="box hero is-primary is-bold section pt-3 px-3" style="border: 2px solid rgba(53,50,54,0.71)">
      <div class="container transparent-box p-2">
        <h1 class="subtitle is-4 has-text-centered mt-5 mb-0">Cómo estuvo la Clase?</h1>
        <hr class="fade-out-hr my-1">
        <i class="has-text-centered"><a id="score-feedback" class="feedback"></a></i>
        <div id="ratingBox" data-index="1" class="mt-5">
          <div id="starsBox">
            <span class="rating fa fa-star checkedStar" data-priority-value="0" data-status-marked="true"></span>
            <span class="rating fa fa-star" data-priority-value="1" data-status-marked="false"></span>
            <span class="rating fa fa-star" data-priority-value="2" data-status-marked="false"></span>
            <span class="rating fa fa-star" data-priority-value="3" data-status-marked="false"></span>
            <span class="rating fa fa-star" data-priority-value="4" data-status-marked="false"></span>
          </div>
        </div>
        <div id="class-info-container" class="mt-4">
        </div>
      </div>
      <div class="has-text-centered mt-5">
        <div class="button is-small is-info">
          Calificar
        </div>
      </div>
    </div>
  </div>

  <button class="modal-close is-large" aria-label="close"></button>
</div>