{% extends "base.html" %}

{% block title %}Creá una Cuenta - Entienda y Aprenda {% endblock %}

{% block links %}
<style>
    select[name=phone_country_code]::-webkit-input-placeholder {
        font-size: 8px;
    }
    #user_type li {
        display: inline;
        margin-right: 10px;
    }
</style>
<!--<style>-->
<!--    input[name=phone]::-webkit-input-placeholder {-->
<!--        font-size: 12px !important;-->
<!--    }-->
<!--</style>-->
{% endblock %}

{% block body %}
  {% include "navbar.html" %}
  {% include "public/create_account_body.html" %}
  {% include "footer.html" %}
{% endblock %}

{% block scripts %}
    <script type="application/javascript" src="{{ url_for('static', filename='js/utils/utils.js') }}"></script>
    <script type="application/javascript" src="{{ url_for('static', filename='js/utils/login.js') }}"></script>
    <script type="application/javascript" src="{{ url_for('static', filename='js/utils/signup.js') }}"></script>
    <script type="application/javascript" src="{{ url_for('static', filename='js/views/auth.js') }}"></script>
    <script type="application/javascript" src="{{ url_for('static', filename='js/utils/tabs.js') }}"></script>
    <script type="application/javascript" src="{{ url_for('static', filename='js/views/create_account.js') }}"></script>
{% endblock %}