{% extends "base.html" %}

{% block title %}Creá una Cuenta - Entienda y Aprenda {% endblock %}

{% block links %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/media_queries.css') }}">
{% endblock %}

{% block body %}
  {% include "navbar.html" %}
  {% include "public/create_account_body.html" %}
  {% include "footer.html" %}
{% endblock %}

{% block scripts %}
    <script type="application/javascript" src="{{ url_for('static', filename='js/utils/tabs.js') }}"></script>
    <script type="application/javascript" src="{{ url_for('static', filename='js/views/create_account.js') }}"></script>
{% endblock %}