<section class="hero is-primary is-bold is-medium">
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="columns is-variable is-1-mobile is-2-tablet is-3-desktop is-4-widescreen is-5-fullhd p-5">

        <div class="column is-auto">
          <div class="transparent-box">
            <div class="p-5">
              <h4 class="title is-3 has-text-centered">Buscador de Materias</h4>
              <hr class="fade-out-hr">
              <form id="search-form">
                <div class="field">
                  <p class="control has-icons-left">
                    <input id="sbuject-search" class="input" type="text" placeholder="por Materia">
                    <span class="icon is-small is-left">
                      <i class="fas fa-book"></i>
                    </span>
                  </p>
                </div>
                  <div class="control has-icons-left">
                    <div class="select is-fullwidth">
                      <select id="faculty-search">
                        <option value="0" selected>Todas</option>
                        {% for f in faculties %}
                          <option value="{{f.faculty_id}}">{{f.faculty_name}}</option>>
                        {% endfor %}
                      </select>
                    </div>
                    <div class="icon is-small is-left">
                      <i class="fas fa-university"></i>
                    </div>
                  </div>
                <br>
                <a id="search-button" class="form-button button is-info">Buscar</a>
                <br>
              </form>
            </div>
          </div>
        </div>

        <div class="column is-auto">
          <p class="subtitle is-4"><i>Plataforma de clases particulares universitarias y de colegio secundario más grande del país.</i></p>
          <p class="subtitle is-5">&#x2022 Encontrá la materia que estas cursando en el buscador.</p>
          <p class="subtitle is-5">&#x2022 Elegí al profesor que más se adapte a tu disponibilidad y a tu presupuesto.</p>
          <p class="subtitle is-5">&#x2022 Selecciona en que horarios queres las clases y reservalas.
          <p class="subtitle is-4"><i>¡Hecho esto te pondremos en contacto con él!.</i></p>
          <p class="subtitle is-4"><i>¡Porque encontrar profesor nunca fue tan fácil!.</i></p>
        </div>

        <div class="column is-auto">
          <figure>
            <img id="logo-image" class="is-rounded" src="static/media/eya_logo.jpg">
          </figure>
        </div>

      </div>
    </div>
  </div>
</section>