<section class="hero is-primary is-bold is-small">
  <div class="hero-body">

    <div id="signup-box" class="signup-box transparent-box" style="width: 600px;">

      <div class="signup-area has-text-centered" style="width: 85%; margin: auto;">
        <h1 class="title">Ingresá con tu Usuario</h1>
        <hr class="fade-out-hr">
        <form action="" method="post" novalidate>
          <div class="control mb-5">
            <p class="control has-icons-left has-icons-right">
              {{ login_form.username_email(id="page-login-user", class="input is-info", placeholder="Usuario/Email", size=128) }}
              <span class="icon is-small is-left">
                <i class="fa fa-user"></i>
              </span>
              <span class="icon is-small is-right">
                <i class="fa fa-check"></i>
              </span>
            </p>
          </div>
          <div class="control mb-2">
            <p class="control has-icons-left has-icons-right">
              {{ login_form.password(id="page-login-pass", class="input is-info", placeholder="Contraseña") }}
              <span class="icon is-small is-left">
                <i class="fa fa-lock"></i>
              </span>
              <span class="icon is-small is-right">
                <i class="fa fa-check"></i>
              </span>
            </p>
          </div>
        </form>

        <div class="is-hidden username-errors navbar-item">
          <ul></ul>
        </div>
        <a id="page-login-button" class="button login-button is-info mt-3">
          <span class="icon"><i class="fa fa-check"></i></span>
          <span>Iniciar Sesión</span>
        </a>
        <i><a id="feedback" class="feedback"></a></i>
      </div>
    </div>
  </div>
</section>