{% extends "base.html" %}

{% block title %}Registro - Entienda y Aprenda{% endblock %}

{% block links %}
<style>
    select[name=phone_country_code]::-webkit-input-placeholder {
        font-size: 8px;
    }
    #user_type li {
        display: inline;
        margin-right: 10px;
    }
</style>
{% endblock%}

{% block body %}
  {% include "navbar.html" %}
  {% include "public/register_body.html" %}
  {% include "footer.html" %}
{% endblock %}

{% block scripts %}
    <script type="application/javascript" src="{{ url_for('static', filename='js/utils/utils.js') }}"></script>
    <script type="application/javascript" src="{{ url_for('static', filename='js/utils/login.js') }}"></script>
    <script type="application/javascript" src="{{ url_for('static', filename='js/utils/signup.js') }}"></script>
    <script type="application/javascript" src="{{ url_for('static', filename='js/views/auth.js') }}"></script>
{% endblock %}