<section class="hero is-primary is-bold section">
  <div class="container">
    <div class="columns is-variable is-1-mobile is-2-tablet is-3-desktop is-4-widescreen is-5-fullhd">
      <div class="column is-one-quarter">
      </div>
      <div class="column is-three-quarters">
        <div class="hrtext">
          <h4 class="title is-4">Materias</h4>
          <div class="header-fade-out-hr"></div>
        </div>
        <div class="content">
          <p>Estas son todas las materias para las que alguna vez se han dado clases. Tené en cuenta que algunos profesores pueden no estar más dictando algunas de las materias o bien no disponer de los horarios.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="columns is-variable is-1-mobile is-0-tablet is-3-desktop is-8-widescreen is-2-fullhd">
    <div class="column is-one-quarter">
      <div class="container py-5">
        <div class="transparent-box">
          <div class="p-5">
            <h4 class="title is-4 has-text-centered">Qué buscás?</h4>
            <hr class="fade-out-hr">
            <section id="faculty-filter">
              <p><strong>Unidad Académica:</strong></p>
              {% if 0 == default_filters["faculty"] %}
                <input type="radio" name="facultad_filter" value="0" checked> Todas <br>
              {% else %}
                <input type="radio" name="facultad_filter" value="0"> Todas <br>
              {% endif %}
              {% for f in faculties %}
                {% if f.faculty_id == default_filters["faculty"] %}
                  <input type="radio" name="facultad_filter" value="{{ f.faculty_id }}" checked> {{f.faculty_name}} <br>
                {% else %}
                  <input type="radio" name="facultad_filter" value="{{ f.faculty_id }}"> {{f.faculty_name}} <br>
                {% endif %}
              {% endfor %}
            </section>
            <hr class="fade-out-hr">
            <div class="container">
              <h1><strong>Materia:</strong></h1>
              <div class="field">
                <p class="control has-icons-left has-icons-right">
                  <input id="subject-name-filter" class="input" type="text" placeholder="Nombre de Materia" value="{{ default_filters['subject'] }}">
                  <span class="icon is-small is-left">
                    <i class="fa fa-book" aria-hidden="true"></i>
                  </span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="column is-three-quarters">
      <div>
        <div class="table-container p-5">
<!--      TODO: Enable scroll in x-direction for small displays-->
          <table id="subjects-search-table" class="content-table subjects-search" style="width:95%">
            <thead>
              <tr>
                <th class="is-hidden">Codigo Facultad</th>
                <th class="is-hidden">Código</th>
                <th>Materia</th>
                <th>Unidad Académica</th>
                <th>Programa</th>
                <th>Materia Unidecode</th>
                <th>Menu</th>
              </tr>
            </thead>
            <tbody>
              {% for s in subjects %}
                  <tr data-url="{{ url_for('public.subject_info', subject_id=s.subject_id) }}">
                    <td class="is-hidden">{{ s.faculty.faculty_id }}</td>
                    <td class="is-hidden">{{ s.subject_id }}</td>
                    <td class="clickeable-cell">{{ s.subject_name }}</td>
                    <td class="clickeable-cell">{{ s.faculty.faculty_name }}</td>
                    <td class="clickeable-cell">
                      {% if s.subject_program %}
                      <a href="{{ s.subject_program }}">
                        <i class="fas fa-arrow-right"></i><i class="fas fa-book-reader ml-1"></i>
                      </a>
                      {% else %}
                      <i class="fas fa-arrow-right"></i><i class="fas fa-book-reader ml-1"></i>
                      {% endif %}
                    </td>
                    <td class="clickeable-cell">{{ s.unidecode_subject_name() }}</td>
                    <td>
                      <div class="dropdown is-right is-hoverable">
                        <div class="dropdown-trigger">
                          <span class="icon is-small">
                            <i class="fas fa-angle-down" aria-hidden="true"></i>
                          </span>
                        </div>
                        <div class="dropdown-menu" id="dropdown-menu3" role="menu">
                          <div class="dropdown-content">
                            <p class="dropdown-item" style="text-align: left;"><strong>Unidad Academica:</strong> {{ s.faculty.faculty_name }} </p>
                            <p class="dropdown-item" style="text-align: left;">
                              <strong>Ver Programa:</strong>
                              {% if s.subject_program %}
                              <a href="{{ s.subject_program }}">
                                <i class="fas fa-arrow-right"></i><i class="fas fa-book-reader ml-1"></i>
                              </a>
                              {% else %}
                              <i class="fas fa-arrow-right"></i><i class="fas fa-book-reader ml-1"></i>
                              {% endif %}
                            </p>
                          </div>
                        </div>
                      </div>
                    </td>
                  </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>