{% extends "base.html" %}

{% block title %}Profesores - Entienda y Aprenda{% endblock %}

{% block links %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/controls.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cards.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/media_queries.css') }}">
{% endblock %}

{% block body %}
  {% include "navbar.html" %}
  {% include "public/tutors_list_body.html" %}
  {% include "footer.html" %}
{% endblock %}

{% block scripts %}
    <script type="application/javascript" src="{{ url_for('static', filename='js/utils/profile.js') }}"></script>
    <script type="application/javascript" src="{{ url_for('static', filename='js/views/tutors_list.js') }}"></script>
{% endblock %}