<div class="hero is-bold section has-background-light p-0">
  <section class="main-content section columns is-variable is-1-mobile is-1-tablet is-2-desktop is-2-widescreen is-2-fullhd p-5">
    <aside class="column is-5-tablet is-5-desktop is-4-widescreen is-3-fullhd px-2">
      <div class="section p-0">
        {% include "tutor/profile.html" %}
      </div>
    </aside>

    <div class="container column is-auto px-2">
      <div class="tabs is-boxed mb-0">
        <ul>
          <li class="is-active" data-target="horarios">
            <a>
              <span class="icon is-small"><i class="fa fa-calendar" aria-hidden="true"></i></span>
              <span>Horarios</span>
            </a>
          </li>
          <li data-target="materias">
            <a>
              <span class="icon is-small"><i class="fa fa-graduation-cap" aria-hidden="true"></i></span>
              <span>Precios y Materias</span>
            </a>
          </li>
        </ul>
      </div>
      <section class="hero is-primary is-bold section pt-3 px-3">
        <div class="section p-3">
          <div class="field mt-5">
            <a href="{{ url_for('student.class_log', tutor_id=tutor.id) }}">
              <button class="button is-link is-pulled-right is-small">Reservá</button>
            </a>
          </div>
          <!-- Contenido de las Pestañas -->
          <div class="px-3" id="tab-settings-content">
            <!-- Horarios -->
            {% include "public/tutor_view_schedule.html" %}
            <!-- Materias -->
            {% include "public/tutor_view_subjects.html" %}
          </div>
        </div>
      </section>
    </div>
  </section>
</div>