<section class="hero is-primary is-bold is-medium">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-variable is-1-mobile is-2-tablet is-3-desktop is-4-widescreen is-5-fullhd p-5">

        <div class="column is-auto" style="max-width: 500px; margin: auto;">
          <h4 class="title is-2 has-text-centered mb-1">¿Quienes Somos?</h4>
          <hr class="fade-out-hr mt-1 mb-3">

          <p class="title is-4">Somos la plataforma de clases de apoyo más grande de Argentina y tenemos como objetivo facilitar al máximo la busqueda de profesores particulares. Contamos con:</p>
          <ul>
            <li>
              <p class="subtitle is-5">&#x2022 Un buscador de materias de colegio secundario y de las universidades más importantes del país (UBA, UTN, UADE, UNC, etc), incluyendo también los ingresos como el CBC.</p>
            </li>
            <li>
              <p class="subtitle is-5">&#x2022 Un listado de profesores disponibles para dar cada materia, con distintos precios y disponibilidad horaria.</p>
            </li>
            <li>
              <p class="subtitle is-5">&#x2022 Un sistema de reseñas mediante el cual los alumnos pueden puntuar a los profesores así como también ver los puntajes que le han puesto los demas y la cantidad de horas de clases dadas en la plataforma.</p>
            </li>
            <li>
              <p class="subtitle is-5"  >&#x2022 Un sistema mediante el cual se pueden reservar las clases al instante y en todo momento.</p>
            </li>
          </ul>
        </div>

        <div class="column is-auto" style="max-width: 600px; margin: auto;">
          <figure>
            <img id="logo-image" class="is-rounded" src="static/media/eya_logo.jpg">
          </figure>
        </div>

      </div>
    </div>
  </div>
</section>