.transparent-box {
    margin: auto;
    padding: 15px;
    background: rgba(255, 255, 255, 0.15);
    border: 1px solid rgba(255,255,255,0.3);
    border-radius: 10px;
}

/* Headers with some style */
.fade-out-hr {
    border: none;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
}

.fade-out-hr-gray {
    border: none;
    background: linear-gradient(to right, rgba(172,164,173,0), rgba(172,164,173,0.75), rgba(172,164,173,0));
}

.header-fade-out-hr {
    flex-grow: 1;
    height: 2px;
    margin-left: 0.5rem;
    margin-bottom: 1.3rem;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
}

#logo-image {
    border-radius: 50%;
    max-width: 100%; /* Set a maximum width */
    padding: 1em;
    margin: 1em;
    box-shadow: 0 4px 6px 0 rgba(34, 60, 80, .16);
    transition: all ease-in-out .2s;
}

.vertical-line {
  border-left: 2px solid lightslategray;
  height: 75px;
  position: absolute;
  left: 50%;
  margin-left: -3px;
  top: 0;
}

select[name=phone_country_code]::-webkit-input-placeholder {
    font-size: 8px;
}
#user_type li {
    display: inline;
    margin-right: 10px;
}