#horizontal-cards {
    display: inline-block;
}
#vertical-cards {
    display: none;
}

@media (max-width: 650px) {
    #horizontal-cards{
        display: none;
    }

    #vertical-cards {
        display: inline-block;
    }
}

#phone-register-span {
    display: inline-block;
}
#phone-register-block {
    display: none;
}
@media (max-width: 650px) {
    #phone-register-span {
        display: none;
    }
    #phone-register-block {
        display: inline-block;
        width: 100%;
    }
}

@media (max-width: 745px) {
    .vertical-line {
        display: none;
    }
    #left-footer-col, #right-footer-col {
        text-align: center !important;
    }
}

#signup-box {
    width: 600px;
}
@media (max-width: 745px) {
    #signup-box {
        width: 95%;
    }
}

.table-container {
    overflow-x: visible;
}
.content-table.subjects-search {
    width: 95%;
}
.content-table.subjects-search tbody tr {
    cursor: pointer;
}
.content-table.subjects-search tr td:nth-child(1) { width: 50vw }
.content-table.subjects-search tr td:nth-child(2) { width: 5vw }
.content-table.subjects-search tr td:nth-child(3) { width: 5vw }

.content-table.subjects-search tr th:nth-of-type(4),
.content-table.subjects-search tr td:nth-of-type(4) {
    display: none;
}
.content-table.subjects-search tr th:nth-of-type(2),
.content-table.subjects-search tr td:nth-of-type(2) {
    text-align: center;
}
.content-table.subjects-search tr th:nth-of-type(3),
.content-table.subjects-search tr td:nth-of-type(3) {
    text-align: center;
}
@media (max-width: 768px) {
    .content-table.subjects-search tr td:nth-child(1) { width: 65vw }
    .content-table.subjects-search tr th:nth-of-type(4),
    .content-table.subjects-search tr td:nth-of-type(4) {
        display: inline-block;
        width: 10vw;
        text-align:center;
    }
    .content-table.subjects-search tr th:nth-of-type(2),
    .content-table.subjects-search tr td:nth-of-type(2),
    .content-table.subjects-search tr th:nth-of-type(3),
    .content-table.subjects-search tr td:nth-of-type(3) {
        display: none;
    }
}

#user-info-box {
    width: 500px;
    margin: auto;
    padding: 30px;
}
#profile-picture-box {
    width: 400px;
    margin: auto;
    position: relative;
}
#change-password-box {
    width: 400px;
    margin: auto;
}
@media (max-width: 645px) {
    #user-info-box {
        width: 100%;
    }
    #profile-picture-box {
        width: 100%;
    }
    .image-wrapper {
        width: 100%;
        height: 70%;
    }
    #change-password-box {
        width: 100%;
    }
}

.profile-card-container {
    min-width: 320px;
    margin: auto;
}

/*@media (max-width: 768px) {*/
/*    */
/*}*/


/* Section One*/

/*th { background: #c5c5c5;}*/
/*table {*/
/*        border-collapse: collapse;*/
/*        border: 1px solid #cdcdcd;*/
/*        font: normal 12px arial; */
/*        width: 100%;*/
/*}*/
/*td, th { border: 1px solid #cdcdcd; padding: 2px;}*/

/* Section two*/
.panel-table {
    width: 100%;
}
@media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {
    .panel-block.student-class-panel-header {
        display: none;
    }
    .panel-table table, thead, tbody, th, td, tr {
        display: block;
    }
    #responsive-table tbody tr {
        border-bottom: 3.5px solid #969496;
    }
    #responsive-table td {
        border: none;
        position: relative;
        padding-left: 50%;
        width: 100%;
        text-align: left;
    }
    #responsive-table td:not(:last-of-type) {
        border-bottom: 0.3px solid #ccc;
    }
    td.date-time-cell p {
        text-align: left;
    }
    td.status-cell p {
        text-align: left;
    }
    #responsive-table td:before {
        position: absolute;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        font-weight: bold;
        text-align: left;
        vertical-align: middle;
    }
    #responsive-table td:nth-of-type(1):before { content: "Materia:"; }
    #responsive-table td:nth-of-type(2):before { content: "Profesor:"; }
    #responsive-table td:nth-of-type(3):before { content: "Fecha y Horario:"; }
    #responsive-table td:nth-of-type(4):before { content: "Estado:"; }
    #responsive-table td:nth-of-type(5):before { content: "+ Info:"; }
}
