#horizontal-cards {
    display: inline-block;
}
#vertical-cards {
    display: none;
}

@media (max-width: 650px) {
    #horizontal-cards{
        display: none;
    }

    #vertical-cards {
        display: inline-block;
    }
}

#phone-register-span {
    display: inline-block;
}
#phone-register-block {
    display: none;
}
@media (max-width: 650px) {
    #phone-register-span {
        display: none;
    }
    #phone-register-block {
        display: inline-block;
        width: 100%;
    }
}

@media (max-width: 745px) {
    .vertical-line {
        display: none;
    }
    #left-footer-col, #right-footer-col {
        text-align: center !important;
    }
}

#signup-box {
    width: 600px;
}
@media (max-width: 745px) {
    #signup-box {
        width: 95%;
    }
}

.table-container {
    overflow-x: visible;
}
.content-table.subjects-search {
    width: 95%;
}
.content-table.subjects-search tbody tr td:nth-of-type(1) {
    cursor: pointer;
}
.content-table.subjects-search tr td:nth-child(1) { width: 50vw }
.content-table.subjects-search tr td:nth-child(2) { width: 5vw }
.content-table.subjects-search tr td:nth-child(3) { width: 5vw }

.content-table.subjects-search tr th:nth-of-type(4),
.content-table.subjects-search tr td:nth-of-type(4) {
    display: none;
}
.content-table.subjects-search tr th:nth-of-type(2),
.content-table.subjects-search tr td:nth-of-type(2) {
    text-align: center;
}
.content-table.subjects-search tr th:nth-of-type(3),
.content-table.subjects-search tr td:nth-of-type(3) {
    text-align: center;
}
/*@media (max-width: 768px) {*/
/*    .content-table.subjects-search tr td:nth-child(1) { width: 65vw }*/
/*    .content-table.subjects-search tr th:nth-of-type(4),*/
/*    .content-table.subjects-search tr td:nth-of-type(4) {*/
/*        display: inline-block;*/
/*        width: 10vw;*/
/*        text-align:center;*/
/*    }*/
/*    .content-table.subjects-search tr th:nth-of-type(2),*/
/*    .content-table.subjects-search tr td:nth-of-type(2),*/
/*    .content-table.subjects-search tr th:nth-of-type(3),*/
/*    .content-table.subjects-search tr td:nth-of-type(3) {*/
/*        display: none;*/
/*    }*/
/*}*/

#user-info-box {
    width: 500px;
    margin: auto;
    padding: 30px;
}
.profile-picture-box {
    width: 400px;
    margin: auto;
    position: relative;
}
.change-password-box {
    width: 400px;
    margin: auto;
}
.bank-details-box {
    width: 400px;
    margin: auto;
}
@media (max-width: 645px) {
    #user-info-box {
        width: 100%;
    }
    .profile-picture-box {
        width: 100%;
    }
    .image-wrapper {
        width: 100%;
        height: 70%;
    }
    .change-password-box {
        width: 100%;
    }
    .bank-details-box {
        width: 100%;
    }
}

.profile-card-container {
    min-width: 300px;
    margin: auto;
}

.panel-table {
    width: 100%;
}
@media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {
    .panel-block.tutor-class-panel-header,
    .panel-block.student-class-panel-header {
        display: none;
    }

    .panel-tabs a {
        font-size: 11px !important;
    }

    #responsive-table tbody,
    #responsive-table th,
    #responsive-table td,
    #responsive-table tr {
        display: block;
    }
    #responsive-table tbody tr {
        border-bottom: 3.5px solid #969496;
    }
    #responsive-table td {
        border: none;
        position: relative;
        padding-left: 50%;
        width: 100%;
        text-align: left;
    }
    #responsive-table td:not(:last-of-type) {
        border-bottom: 0.3px solid #ccc;
    }
    td.date-time-cell p {
        text-align: left;
    }
    td.status-cell p {
        text-align: left;
    }
    #responsive-table td:before {
        position: absolute;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        font-weight: bold;
        text-align: left;
        vertical-align: middle;
    }
    #responsive-table td:nth-of-type(1):before { content: "Materia:"; }
    #responsive-table td:nth-of-type(2):before { content: "Profesor:"; }
    #responsive-table td:nth-of-type(3):before { content: "Fecha y Horario:"; }
    #responsive-table td:nth-of-type(4):before { content: "Estado:"; }
    #responsive-table td:nth-of-type(5):before { content: "+ Info:"; }
}

td.more-info-cell a {
    font-size: 10px;
}
@media (max-width: 400px) {
    td.more-info-cell a {
        font-size: 9px!important;
    }
}

@media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px) {
    div.tabs.is-boxed ul li {
        width: 79px;
        /*text-overflow: ellipsis;*/
    }
    div.tabs.is-boxed ul li a {
        padding: 5px 5px;
    }
    div.tabs.is-boxed ul li a span {
        font-size: 12px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    #subjects-search-table thead {
        display: none;
    }
    #subjects-search-table tbody,
    #subjects-search-table th,
    #subjects-search-table td,
    #subjects-search-table tr {
        display: block;
    }
    #subjects-search-table tbody tr {
        border-bottom: 3.5px solid #969496;
    }
    #subjects-search-table td {
        border-bottom: 0.3px solid #ccc;
    }
    #subjects-search-table td:nth-of-type(3) {
        position: relative;
        padding-left: 50%;
        width: 100%;
        text-align: left;
    }
    #subjects-search-table td:not(:nth-of-type(3)) {
        text-align: center;
        display: inline-block;
        width: 100%;
        position: relative;
    }
    #subjects-search-table td:before {
        position: absolute;
        left: 25px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        font-weight: bold;
        text-align: left;
        vertical-align: middle;
    }
    #subjects-search-table td:nth-of-type(3):before { content: "Ver Programa:"; }
}

#subjects-data-table {
    width: 850px;
}
@media (max-width: 1350px) {
    #classes-table,
    #subjects-data-table {
        width: 100%;
    }
}
@media (max-width: 1215px) {
    #classes-table thead {
        display: none;
    }
    #classes-table tbody,
    #classes-table th,
    #classes-table td,
    #classes-table tr {
        display: block;
    }
    #classes-table tbody tr {
        border-bottom: 3.5px solid #969496;
    }
    #classes-table td {
        border-bottom: 0.3px solid #ccc;
    }
    #classes-table td:not(:nth-of-type(7)):not(:nth-of-type(6)) {
        /*border: none;*/
        position: relative;
        padding-left: 50%;
        width: 100%;
        text-align: left;
    }
    #classes-table td:nth-of-type(7):nth-of-type(6) {
        text-align: center;
    }
    #classes-table td:before {
        position: absolute;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        font-weight: bold;
        text-align: left;
        vertical-align: middle;
    }
    #classes-table td:nth-of-type(3):before { content: "Materia:"; }
    #classes-table td:nth-of-type(4):before { content: "Unidad Academica:"; }
    #classes-table td:nth-of-type(5):before { content: "Precio de Referencia:"; }

    #subjects-data-table thead {
        display: none;
    }
    #subjects-data-table tbody,
    #subjects-data-table th,
    #subjects-data-table td,
    #subjects-data-table tr {
        display: block;
    }
    #subjects-data-table tbody tr {
        border-bottom: 3.5px solid #969496;
    }
    #subjects-data-table td {
        border-bottom: 0.3px solid #ccc;
    }
    #subjects-data-table td:not(:nth-of-type(7)) {
        /*border: none;*/
        position: relative;
        padding-left: 50%;
        width: 100%;
        text-align: left;
    }
    #subjects-data-table td:nth-of-type(7) {
        text-align: center;
    }
    #subjects-data-table td:before {
        position: absolute;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        font-weight: bold;
        text-align: left;
        vertical-align: middle;
    }
    #subjects-data-table td:nth-of-type(3):before { content: "Materia:"; }
    #subjects-data-table td:nth-of-type(4):before { content: "Unidad Academica:"; }
    #subjects-data-table td:nth-of-type(5):before { content: "Precio de Referencia:"; }
    #subjects-data-table td:nth-of-type(6):before { content: "Tabla de Precios:"; }
}

#mobile-modify-button {
    width: 30%;
    margin: auto;
}
#mobile-modify-button {
    display: none;
}
#non-mobile-modify-button {
    display: block;
}

#tutor-subjeccts-table {
    width: 100%;
    margin: auto;
}
#schedule-table {
    width: 400px;
    margin: auto;
}
#schedule-table-title-wrapper {
    width: 400px;
    margin: auto;
}
@media (max-width: 400px) {
    #schedule-table {
        width: 100%;
        /*margin: auto;*/
    }
    #schedule-table-title-wrapper {
        width: 100%;
    }

    #classes-select-wrapper {
        display: block;
    }
    #classes-select-wrapper div.select {
        width: 250px;
        margin-bottom: 10px;

    }
    #mobile-modify-button {
        display: inline-block;
    }
    #non-mobile-modify-button {
        display: none;
    }

    #tutor-subjects-table thead {
        display: none;
    }
    #tutor-subjects-table tbody,
    #tutor-subjects-table th,
    #tutor-subjects-table td,
    #tutor-subjects-table tr {
        display: block;
    }
    #tutor-subjects-table tbody tr {
        border-bottom: 3.5px solid #969496;
    }
    #tutor-subjects-table td {
        border-bottom: 0.3px solid #ccc;
    }
    #tutor-subjects-table td:nth-of-type(5) {
        position: relative;
        padding-left: 60%;
        width: 100%;
        text-align: left;
    }
    /*#tutor-subjects-table td:nth-of-type(3),*/
    /*#tutor-subjects-table td:nth-of-type(4) {*/
    /*    text-align: center!important;*/
    /*    padding-left: revert!important;*/
    /*}*/
    #tutor-subjects-table td:before {
        position: absolute;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        font-weight: bold;
        text-align: left;
        vertical-align: middle;
    }
    /*#tutor-subjects-table td:nth-of-type(3):before { content: none; }*/
    /*#tutor-subjects-table td:nth-of-type(4):before { content: none; }*/
    #tutor-subjects-table td:nth-of-type(5):before { content: "Tabla de Precios:"; }
    /*#tutor-subjects-table td:nth-of-type(6):before { content: none; }*/

    #classes-table td:not(:nth-of-type(3)):not(:nth-of-type(4)):not(:nth-of-type(6)):not(:nth-of-type(7)) {
        position: relative;
        padding-left: 70%;
        width: 100%;
        text-align: left;
    }
    #classes-table td:nth-of-type(3),
    #classes-table td:nth-of-type(4) {
        text-align: center!important;
        padding-left: revert!important;
    }
    #classes-table td:before {
        position: absolute;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        font-weight: bold;
        text-align: left;
        vertical-align: middle;
    }
    #classes-table td:nth-of-type(3):before { content: none; }
    #classes-table td:nth-of-type(4):before { content: none; }
    #classes-table td:nth-of-type(5):before { content: "Precio de Referencia:"; }
    #classes-table td:nth-of-type(6):before { content: none; }

    #subjects-data-table td:not(:nth-of-type(6)):not(:nth-of-type(7)):not(:nth-of-type(8)):not(:nth-of-type(3)):not(:nth-of-type(4)) {
        /*border: none;*/
        position: relative;
        padding-left: 70%;
        width: 100%;
        text-align: left;
    }
    #subjects-data-table td:nth-of-type(3),
    #subjects-data-table td:nth-of-type(4),
    #subjects-data-table td:nth-of-type(6){
        text-align: center;
        padding-left: revert;
    }
    #subjects-data-table td:before {
        position: absolute;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        font-weight: bold;
        text-align: left;
        vertical-align: middle;
    }
    #subjects-data-table td:nth-of-type(3):before { content: none; }
    #subjects-data-table td:nth-of-type(4):before { content: none; }
    #subjects-data-table td:nth-of-type(5):before { content: "Precio de Referencia:"; }
    #subjects-data-table td:nth-of-type(6):before { content: none; }

    #prices-table-v,
    #prices-table-p {
        width: 100%;
        font-size: 10px;
    }
}