<section class="hero">
  <footer class="footer">
    <div class="container">
      <div class="columns">
        <div id="left-footer-col" class="column has-text-right is-auto">
          <p>Contactanos</p>
          <a class="icon has-text-primary" href="mailto:entiendayaprenda@gmail.com" target="_blank">
            <i class="fa fa-envelope"></i>
          </a>
          <a class="icon has-text-primary" href="">
            <i class="fab fa-whatsapp"></i>
          </a>
        </div>
        <div class="vertical-line"></div>
        <div id="right-footer-col" class="column has-text-left is-auto">
          <p>Seguinos</p>
          <p>
            <a class="icon has-text-primary" href="https://www.facebook.com/Entiendayaprenda/" target="_blank">
              <i class="fab fa-facebook"></i>
            </a>
            <a class="icon has-text-primary" href="https://www.instagram.com/entiendayaprenda/?hl=en" target="_blank">
              <i class="fab fa-instagram"></i>
            </a>
          </p>
        </div>
      </div>
    </div>
    <div class="container">
      <br>
      <div class="content has-text-centered">
        <p>
          <strong>Entienda y Aprenda</strong>
          <span class="icon is-small">
            <i class="fa fa-copyright"></i>
          </span> 2023</a>
        </p>
      </div>
    </div>
  </footer>
</section>